In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("C:/Users/PC/Documents/archive/Mobiles Dataset (2025).csv", encoding='ISO-8859-1')
df.head()

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 224,999","INR 79,999","CNY 5,799",USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 234,999","INR 84,999","CNY 6,099",USD 849,"AED 2,999",2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 244,999","INR 89,999","CNY 6,499",USD 899,"AED 3,199",2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 249,999","INR 89,999","CNY 6,199",USD 899,"AED 3,199",2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 259,999","INR 94,999","CNY 6,499",USD 949,"AED 3,399",2024

In [ ]:
df = df.drop(['Launched Price (Pakistan)','Launched Price (India)','Launched Price (China)','Launched Price (Dubai)'], axis=1)

In [ ]:
df['Launched Price (USA)'] = df['Launched Price (USA)'].str.replace('USD', '', regex = False)
df['Launched Price (USA)'] = df['Launched Price (USA)'].str.replace(',', '', regex = False)

In [35]:
df.tail()

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (USA),Launched Year
925,Poco,Pad 5G 128GB,571g,8GB,8MP,8MP,Snapdragon 7s Gen 2,"10,000mAh",12.1 inches,280,2024
926,Poco,Pad 5G 256GB,571g,8GB,8MP,8MP,Snapdragon 7s Gen 2,"10,000mAh",12.1 inches,300,2024
927,Samsung,Galaxy Z Fold6 256GB,239g,12GB,"10MP, 4MP (UDC)",50MP,Snapdragon 8 Gen 3,4400mAh,7.6 inches,1899,2024
928,Samsung,Galaxy Z Fold6 512GB,239g,12GB,"10MP, 4MP (UDC)",50MP,Snapdragon 8 Gen 3,4400mAh,7.6 inches,1719,2024
929,Samsung,Galaxy Z Fold6 1TB,239g,12GB,"10MP, 4MP (UDC)",50MP,Snapdragon 8 Gen 3,4400mAh,7.6 inches,2259,2024

In [40]:
df['Launched Price (USA)'] = df['Launched Price (USA)'].astype(float)
df['Launched Year'] = df['Launched Year'].astype(str)

In [52]:
df.groupby(['Company Name','RAM', 'Launched Year'], as_index= False)['Launched Price (USA)'].agg(['mean', 'median'])

    Company Name  RAM Launched Year         mean  median
0          Apple  3GB          2017  1049.000000  1049.0
1          Apple  3GB          2018   815.666667   799.0
2          Apple  3GB          2019   449.000000   449.0
3          Apple  3GB          2020   379.000000   379.0
4          Apple  4GB          2018  1190.666667  1174.0
..           ...  ...           ...          ...     ...
263       Xiaomi  4GB          2024   224.000000   224.0
264       Xiaomi  6GB          2024   271.500000   279.0
265       Xiaomi  8GB          2024   340.475000   339.0
266         iQOO  6GB          2023   349.000000   349.0
267         iQOO  8GB          2024   424.000000   424.0

[268 rows x 5 columns]